body{
    background-color: rgb(204, 209, 209);
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: black;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 650;
}
#main{
    font-weight: 100;
    width: 60%;
    margin-top: 5%;
    margin-left: 18%;
    margin-bottom: 30px;
}
#main>div{
    background-color: white;
    border-radius: 20px;
    margin-top: 2%;
}
#general img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#general #user-img{
    position: relative;
    z-index: 1;
    width:15%;
    height:20%;
    border-radius: 100%;
    margin-top: -70px;
    margin-left: 50px;
    background-color: white;
    text-align: center;
}
#user-img img{
    width: 95%;
    height: 95%;
    border-radius: 50%;
    margin-top: 3%;

}
#user-info{
    margin-left: 5%;
}
#general #user-info{
    width: 300px;
}
#edit-profile{
    position: relative;
    float: right;
    margin-right: 5%;
    background-color: none;
}
#edit-profile button{
    border-radius: 40%;
    outline: none;
}
#edit-profile button:hover{
    background-color: rgb(115, 117, 119);
}
#user-info ul{
    padding-bottom: 3%;
    margin-left: -20px;
    color: rgb(22, 92, 223);
    font-weight: bold;
}

#user-info ul li{
    float: left;
    width:50%;
}
#user-info ul :nth-child(2){
    float: right;
}

#activity #user-info{
    position: relative;
    padding-top: 2%;
}

#info{
    position: relative;
    margin-top: 5%;
    height: 10%; 
    width: 80%;   
}
#posted{
    float: left;
    width: 260px;
}
#posted-number{
    float: right;
    
}
#post-liked{
    float: right;
    width: 220px;
}
#liked-number{
    float: right;
}

@media(max-width:1000px) {
   
    #main{
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }
    #general #user-img{
        position: relative;
        z-index: 1;
        width:100px;
        height:20%;
        border-radius: 100%;
        margin-top: -10%;
        margin-left: 5%;
        background-color: white;
        text-align: center;
    }
  #general #user-info{
      width: 270px;
  }
  #user-info ul{
      width:330px;
  }
  #info{
      position: relative;
      width: 100%;
      height:180px;
  }
  #posted{
      float: left;
      margin-bottom:10px
  }
  
  #post-liked{
      float:none;   
  }
 
 
}
@media(min-width:1000px) and (max-width:1400px){
    #info{
        width: 95%;
        height:30%
    }
   
}