<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../css/util.css">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter" style="margin-top:-9.5%">
		<div class="container-login100">
			<div class="wrap-login100">
				<form id="form" class="login100-form validate-form">
					<span class="login100-form-title p-b-43" >
						Register User
					</span>
				<div id="error">
					
				</div>

					<div class="wrap-input100 validate-input" id="username" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" id="user" name="username">
						<span class="focus-input100"></span>
						<span class="label-input100">Username</span>
					</div>
					
					<div class="wrap-input100 validate-input">
						<input class="input100" type="email" id='email' name="Email">
						<span class="focus-input100"></span>
						<span class="label-input100">Email*</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" id="password" data-validate="Password is required">
						<input class="input100" type="password" id="pass" name="pass" value="" >
						<span class="focus-input100"></span>
						<span class="label-input100">Password*</span>
						
					</div>
					<div class="wrap-input100 validate-input" id="confirm" data-validate="Password is required">
						<input class="input100" type="password" id="cpass" name="confirm" >
						<span class="focus-input100"></span>
						<span class="label-input100">Confirm password*</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						<button type="submit" id="submit" class="login100-form-btn">
							Login
						</button>
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign up using
						</span>
					</div>

					
				</form>

				<div class="login100-more" style="background-image: url('images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>


	<script type="text/javascript">
	
	$(document).ready(()=>{
		$('form').submit((e)=>{
			e.preventDefault()
				var constraints = {
   username:{
	  length:{
		  minimum:5,
		  message:'Username should be atleast 5 characters long'
	  },
  },
  password: {
    presence: true,
   length:{
	   minimum:5	   
   },
	format:{
		pattern:'[a-z0-9]+',

		message:'invalid pattern'
	},
	
  },
 
  confirm:{
	  presence:true,
	  equality:{
		  attribute:'password',
		  message:'password mismatch'
	  }
  }
 
};
			const pass=$('#pass').val()
			const confirm=$('#cpass').val()
			const username=$('#user').val()
			const email=$("#email").val()
			if(validate({password:pass,username:username,confirm:confirm}, constraints)){
				const valid=validate({username:username,password:pass,confirm:confirm}, constraints)
				const validArray=Object.keys(valid)
				console.log(valid)
				validArray.forEach((ele)=>{
					
					document.getElementById(ele).setAttribute('data-validate',valid[ele][0])
					document.getElementById(ele).style.borderColor='red'
				})
			}
			else{
			$.ajax({
				type:'post',
				url:'/register',
				data:{
					"pass":pass,
					"confirm":confirm,
					"email":email,
					"username":username
				},
				dataType:'text',
				
			}).done((result)=>{
					const a=JSON.parse(result)
					if(a.error)
						$('#error').html('<div class="error"><h5>'+a.error+'</h5></div>')
					else
						window.location.href='/home/1234567'
			})
			}
		
		})
		
	})

// => {
//   "password": ["Password must be at least 6 characters"]
// }
	</script>

</body>
</html>